body {
    background-color: blue;
    color: black;
    padding: 0px;
    margin: 0px;
    
}
.nav-link{
    display: flex;
    background-color: white;
    height: 70px;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;

}
.logo img{
    height: 50px;
}
#links ul{
    display: flex;
    list-style: none;
}
#links ul li {
    margin-left: 40px;
    font-size-adjust: initial;
}
#links ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
#links ul li a:hover{
    color: blue;
}
.buttons button{
width: 120px;
height: 50px;
text-align: center;
margin: 10px;
background-color: aqua;
font-size: large;
color: white;
border: 1px solid black;
border-radius: 10px;

}
.buttons button:hover{
    background-color: blueviolet;
}
.buttons button:active{
    background-color: orange;

}
@media (min-width:112)
}